body{
    width: 90%;
    margin: auto;
    background-color: white;
}

/* 選項部分 */
#checkboxContainer{
    display: flex;
    line-height: 2em;
    flex-wrap: wrap;
    font-size: 20px;
    justify-content: left;
}

/* 選項容器 */
.checkboxShell{
    margin: 4px 1%;
    width: auto;
    padding: 2px;
}

@media (min-width: 960px) {
    .checkboxShell{
        margin: 4px ;
        width: auto;
        padding: 2px;
    }
}

/* 隱藏原本的勾選格 */
.checkbox[type=checkbox] {
    display: none;
}

/*  */
.checkbox[type=checkbox] + label {
    display: flex;
	justify-content: center;
	align-items: center;
    border: 2px solid;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
    background-color: #ffe7d3; 
}

.checkbox[type=checkbox]:checked + label{
    background-color: #F8AB87; 
    border-color: black;
    color: #2D2D2D; 
    font-weight: bold;
}

#function_buttons{
    display: flex;
}

.function_button{
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin: auto;
    color: #2D2D2D;
    background-color: #D0E5E8;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    border: 2px solid;
}

