body{
    width: 90%;
    margin: auto;
}

/* 標題 */
.title_block{
    display: flex;
    background-color: #D0E5E8;
}

.title_icon{
    margin: 0 2rem 0 1rem;
    width: 3rem;
}

.result_block{
    border-bottom: 2px solid gray;
}

.code_descr_block{
    display: flex;
    margin: 1rem;
    border: 2px solid gray;
    background-color: rgb(128, 128, 128, 0.3);
}

.code_descr_icon{
    margin: 0 2rem 0 1rem;
    width: 3rem;
}

#radar_chart_container {
    margin: 10px auto;
    width: 400px;
    height: 300px;
    border: 2px solid gray;
    background-color: white;
    
}

@media (max-width: 320px) {
    #radar_chart_container {
        margin: auto;
        width: 100%;
        
    }
}

@media (min-width: 961px) {
    body{
        width: 80%;
        max-width: 1024px;
        margin: auto;
    }

    #theme_code {
        width: calc(100% - 400px);
        
    }
}